<div class="container">
  <h3>List of all available courses</h3>
<div class="row">

    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Course Id</th>
            <th>Code</th>
            <th>Section<br>and Instance Id</th>
            <th>Enrolled</th>
            <th>Professor</th>
          </tr>
        </thead>
        <tbody class="tableBody">
          <tr *ngFor="let c of courses">
            <td>{{c.courseId}}</td>
            <td>{{c.courseCode}}</td>
            <td>{{c.section}} - {{c.termSectionId}}</td>
            <td>{{c.enrolTotal}}</td>
            <td>{{c.professor}}</td>
            <td><a class="btn btn-default" routerLink="/course/detail/{{ c._id }}" >Detail</a>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
