<!-- <div id="home"> -->
  <h3>Welcome</h3>
  <br>
  <p>This is Pirathapan's first Angular Assignment, Please have a look and tell me what you like about my page.</p>
  <p>This is Pirathapan Nagendrarajah Home Page for <a href="https://bti425.ca/graded-work/assign2">Assignment 2</a> of BTI425</p>
  <br>
  <hr>
  <p>This current version of the app enables the user to work with ALL students.</p>
  <td><a class="btn btn-default" routerLink="/students/" >List of Student </a>&nbsp;</td>
  <br>
  <hr>
  <p>A future version will require the user to login as a specific student.</p>
  <td><a class="btn btn-default" disabled>Login</a>&nbsp;</td>
<!-- </div> -->