<div id="students">
<h1>
  List of students and their course history
</h1>

<div class="row">

  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Student Id<br> and Academic<br> Program</th>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Email</th>
          <th>Academic Level</th>
          <th>GPA</th>
          <th>Course History</th>
        </tr>
      </thead>
      <tbody class="tableBody">
        <tr *ngFor="let s of students">
          <td>{{s.studentId}}<br> {{s.academicProgram}}</td>
          <td>{{s.familyName}},<br>{{s.givenName}}</td>
          <td>{{s.birthDate | date:'longDate'}}</td>
          <td>{{s.email}}</td>
          <td>{{s.academicLevel}}</td>
          <td>{{s.gpa}}</td>
          <td>{{s.credits.length}} credits</td>
          <td><a class="btn btn-default" routerLink="/student/detail/{{ s._id }}" >Select</a>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

  